@model CLDV6211.POE.Models.Rental

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RentalCode" />
            <div class="form-group">
                <label asp-for="CarNo" class="control-label"></label>
                <select asp-for="CarNo" class="form-control" asp-items="ViewBag.CarNo"></select>
                <span asp-validation-for="CarNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectorNo" class="control-label"></label>
                <select asp-for="InspectorNo" class="form-control" asp-items="ViewBag.InspectorNo"></select>
                <span asp-validation-for="InspectorNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverNo" class="control-label"></label>
                <select asp-for="DriverNo" class="form-control" asp-items="ViewBag.DriverNo"></select>
                <span asp-validation-for="DriverNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalFee" class="control-label"></label>
                <input asp-for="RentalFee" class="form-control" />
                <span asp-validation-for="RentalFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start_Date" class="control-label"></label>
                <input asp-for="Start_Date" class="form-control" />
                <span asp-validation-for="Start_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End_Date" class="control-label"></label>
                <input asp-for="End_Date" class="form-control" />
                <span asp-validation-for="End_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
